.sideLnb,
.content {
  float: left;
  margin-top: 40px;
  font-size: 18px;
}

.sideLnb > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  margin-right: 50px;
  margin-top: 30px;
}

.sideLnb > ul > li {
  cursor: pointer;
  margin-bottom: 25px;
}
.sideLnb > ul > li > a{
	color:inherit;
	text-decoration: none;
}

.content {
  width: 750px;
  min-height: 1000px;
}

.boardUl {
  padding: 0;
  list-style: none;
}

.boardContent {
  display: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
  margin-top: 35px;
}

.boardContainer > p {
  color: #ff5f55;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}

.boardUl > li {
  cursor: pointer;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}


.resultContents {
	float: left;
	min-height: 1000px;
	width: 670px;
	margin-left: 30px;
	border: 1px solid #eee;
}

.results {
	list-style: none;
	padding: 10px;
}

.results>li {
	border-bottom: 1px solid #eee;
}

.results>li>a {
	display: block;
	overflow: hidden;
	padding: 30px;
	height: 300px;
	color: inherit;
}

.results>li:hover {
	background-color: #f5f5f5;
}

.results>li>a>* {
	float: left;
}

.results>li>a * {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.results>li>a>img {
	margin-right: 20px;
	height: 240px;
	width: 180px;
	object-fit: contain;
}

ul.results>li>a>div {
	max-width: 380px;
}

.placeName {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 700;
}

.selectedLi {
	color: #ff5f55;
}
.withdrawBtn{
	color : #fff;
	background-color:rgba(0, 0, 0, 0.6);
	border : 0;
	border-radius:2px;
	padding : 3px 5px;
	cursor: pointer;
}
.reviews td{
	height: 60px;
	border-bottom : 0.5px solid #aaa;
}
.reviews th{
	border-bottom : 0.5px solid #aaa;
	padding : 0 0 8px 0;
}

.reviews td:nth-child(1) , .reviews th:nth-child(1) {
	width: 175px;
	text-align:center;	
}
.reviews td:nth-child(2) , .reviews th:nth-child(2) {
	width: 375px;
}
.reviews td:nth-child(3) , .reviews th:nth-child(3) {
	width: 50px;
}
.reviews td:nth-child(4) , .reviews th:nth-child(4) {
	width: 150px;
}

.reviews a {
	text-decoration : none;	
	color : inherit;
}