.locationBtn {
	background-color: rgb(216, 66, 56);
	border: 0;
	color: white;
	border-radius: 5px;
}

.categoryUl {
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	list-style: none;
	padding: 0;
	padding-bottom: 5px;
	color: #aaa;
	margin-bottom: 30px;
}

.categoryUl>li {
	float: left;
	padding: 10px;
	cursor: pointer;
}

.sideFilter {
	min-height: 500px;
	width: 300px;
	box-shadow: 3px 3px 3px 3px #eee;
	border-radius: 5px;
	float: left;
}

.sideFilter>div {
	height: 200px;
}

.resultContents {
	float: left;
	min-height: 1000px;
	width: 670px;
	margin-left: 30px;
	border: 1px solid #eee;
}

.results {
	list-style: none;
	padding: 10px;
}

.results>li {
	border-bottom: 1px solid #eee;
}

.results>li>a {
	display: block;
	overflow: hidden;
	padding: 30px;
	height: 300px;
	color: inherit;
}

.results>li:hover {
	background-color: #f5f5f5;
}

.results>li>a>* {
	float: left;
}

.results>li>a * {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.results>li>a>img {
	margin-right: 20px;
	height: 240px;
	width: 180px;
	object-fit: contain;
}

ul.results>li>a>div {
	max-width: 380px;
}

.placeName {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 700;
}

.resultContents .orderByUl {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: auto;
	margin-top: 20px;
	width: 80%;
	color: #aaa;
}

.orderByUl>li {
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
	border-left: 0;
	text-align: center;
	cursor: pointer;
}

.orderByUl>li:first-child {
	border-left: 1px solid #ccc;
}

.submitBtn {
	display: block;
	width: 75%;
	height: 40px;
	margin: auto;
	margin-top: 10px;
	border: 0px;
	border-radius: 5px;
	color: white;
	background-color: #ff5f55;
	box-shadow: 1px 1px 3px #aaa;
	cursor: pointer;
}

#mapContainer {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 800px;
	height: 600px;
	border: 7px solid #f2f0e9;
}

button#addNewPlaceBtn {
	display: block;
	height: 35px;
	width: 100px; float : right;
	color: white;
	background-color: #ff5f55;
	box-shadow: 1px 1px 3px #aaa;
	border: 0px;
	border-radius: 5px;
	float: right;
}

.pageBtn{
	background-color:#fff;
	color : inherit;
	border : 0px; 	
	border-radius:2px;
}
.pageBtn:hover {
	background-color: #ff5f55;
	color : #fff 
}
.currentPage {
	color : #ff5f55;
}
.pagingDiv {
	text-align: center;
	margin-bottom:12px;
}

.filterSlider{
	display:block;
	width: 80%;
	border-radius: 5px; 
    accent-color: #ff5f55;
    background : #eee;
    margin-top:20px;
	
}
