@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgba(0, 0, 0, 0.56);
  font-family: "맑은 고딕", "맑은고딕", "Malgun Gothic", sans-serif;
}
header {
  /*background-image: url("images/dog_banner.jpg");*/
  background-color: inherit;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 1000px;
  height: auto;

  margin: 0;
  padding: 0;
  margin-top: 71px;
  position: relative;
  overflow: hidden;
}

.bannerImg {
  width: 100%;
  position: relative;
}

#dog1 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 300px;
}
#dog2 {
  position: absolute;
  left: 100px;
  bottom: 0;
  height: 400px;
}

.category img {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
}
.category {
  margin-top: 50px;
}
.category > a {
  width: 16.6%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin: 0;
  font-weight: 700;
  /*background-color: #fafafa;
  border: 5px solid white;*/
}

.news {
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.87);
}
