.about {
  margin-top: 100px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  min-height: 390px;
  margin-bottom: 50px;
  position:relative;
}

.imgSlider > img {
  width: 490px;
  height:350px;
  object-fit: contain;
}
.about > * {
  float: left;
}
.about > article {
  margin-left: 20px;
}

.commentWritingForm {
  width: 100%;
  padding-left: 96px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.commentWritingForm > textarea {
  width: 80%;
  margin: auto;
  height: 50px;
}
.reviews {
  list-style: none;
  padding: 0;
}
.reviews > li {
  font-size: 16px;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  padding-left: 96px;
}
.reviews .writer {
  font-size: 18px;
  font-weight: 700;
}
.reviews .stars {
  font-size: 18px;
}
.reviews .createdDate {
  font-weight: 100;
}

.splide {
  margin-top: 10px;
}
.splide__slide > img {
  width: 120px;
  height: 80px;
}

.commentWritingForm > select {
  display: block;
}
.wishBtn{
	background-color:#fff;
	border : 0;
	cursor: pointer;
}

.replyBtn {
	color : #fff;
	background-color:#ff5f55;
	border : 0;
	border-radius:2px;
	padding : 3px 5px;
	cursor: pointer;
}

.deletePlaceBtn{
	color : #fff;
	background-color:#ff5f55;
	border : 0;
	border-radius:2px;
	padding : 3px 5px;
	cursor: pointer;
	position:absolute;
	right : 10px;
	bottom : 10px;	
}