.about {
  margin-top: 100px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  min-height: 390px;
  margin-bottom: 50px;
  position:relative;
}

.imgSlider > img {
  width: 490px;
  height:350px;
  object-fit: contain;
}
.about > * {
  float: left;
}
.about > article {
  margin-left: 20px;
  width:490px;
}

.splide {
  margin-top: 10px;
}
.splide__slide > img {
  width: 120px;
  height: 80px;
}

textarea[name='content']{
	width: 100%;
	height: 200px;
}

input[name='imgs']{
	clear:both;
	display:block;
	float:none;
}
.submitBtn{
	color : #fff;
	background-color:#ff5f55;
	border : 0;
	border-radius:2px;
	width:80px;
	height:30px;
	padding : 3px 5px;
	cursor: pointer;
	position:absolute;
	right : 10px;
	bottom : 10px;
	font-size: 0.9rem;
}
form{
	position:relative;
}