@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

#gnb {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #ff5f55;
  color: white;
  text-align: center;
  z-index: 100;
  height: 72px;
}
#gnb > ul {
  display: inline-block;
  margin: auto;
  width: 1000px;
  overflow: hidden;
  list-style: none;
  margin: 0 100px;
  padding: 0;
  position: relative;
}
#gnb > ul > li {
  float: right;
  margin: 0;
  width: 83px;
  height: 72px;
  line-height: 80px;
  position: relative;
  cursor: pointer;
}
#gnb > ul > li:first-child {
  float: left;
  width: 150px;
  font-weight: 700;
  font-size: 24px;
  font-family: "yg-jalnan";
  letter-spacing: 2px;
}
#gnb > ul > li:last-child {
  width: 50px;
  position: absolute;
  right: 324px;
}

#gnb > ul > li:last-child:nth-child(5) {
  right: 240px;
}

#gnb > ul > li:last-child > input {
  position: relative;
  left: 50px;
  top: -72px;
  width: 700px;
  display: none;
  background-color: inherit;
  color: inherit;
  border: 0;
  border-bottom: 0.5px solid white;
  height: 28px;
  font-size: 18px;
  outline: none;
}

#gnb > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

#gnb h3 {
  margin: 0;
  padding: 0;
}

#searchIcon {
  height: 20px;
  display: block;
  margin: auto;
  position: relative;
  top: 32px;
  left: -10px;
}
