#loginFrame {
  background-color: white;
  width: 500px;
  height: 500px;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 80px;
}
#loginFrame * {
  margin: auto;
}
.logoContainer > img {
  display: block;
  width: 150px;
  opacity: 0.6;
}
.logoContainer > p {
  width: 150px;
  text-align: center;
  font-size: 24px;
  color: #ff5f55;
  font-family: "yg-jalnan";
}
#loginFrame > form {
  margin-top: 20px;
  text-align: center;
}
#loginFrame > p {
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
#loginFrame input {
  display: block;
  font-size: 20px;
  width: 80%;
  height: 35px;
  margin: auto;
  margin-top: 10px;
  padding-left: 5px;
}

#loginFrame button {
  display: block;
  width: 75%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
  color: white;
  background-color: #ff5f55;
  box-shadow: 1px 1px 3px #aaa;
}

#registerLink{
	display:inline-block;
	color:background-color: #ff5f55;
	text-decoration: none;
	color:#ff5f55;
	opacity : 0.8;
	margin-top:5px;
}